@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 300; 
  font-family: "Roboto";
  src: url("./fonts/Roboto-Light.ttf");
}

body{
  background-color: #ffffff;
  width: auto;
}

main {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #33333;
  width: 50;
}

.photo-contacts {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  column-count: 2;
}


.contacts-container {
  break-inside: avoid;
  text-align: center;
}

.name-image {
    break-inside: avoid; 
}

.image {
  width: 35%;
  height: auto;
}

.image img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.resume {
  padding: 0;
  width: 50%;
  margin: 0 auto;
  break-inside: avoid;
}

section {
  padding-bottom: 5px;
}


h2 {
  background-color: #e7eaf6;
  padding: 5px;
  margin: 0;
}

.boldy {
  font-weight: 700;
}


ul {
  padding-left: 18px;
}

li {
  text-align: left;
}

.contacts li {
  text-align: right;
  line-height: 2em;
  list-style-position: inside;
}

.contacts span {
  display: inline-block;
  margin: 0;
  height: 25px;
  background-color: #e7eaf6;
}

hr {
  border: 0.2px dashed #38598b;  
}

a {
  display: inline-block;
  color: #113f67;
  background-color: #fffcbf;
  text-decoration: none;
}